.rodape__contato {
    padding: 1rem;
    color: var(--marrom);
    font-size: 1.4rem;
    border: 2px solid var(--marrom);
    border-radius: 8px;
    cursor: pointer;

}

.rodape__contato:hover {
    background-color: var(--marrom);
    color: var(--branco);
}