.menu__mobile {
    //display:none;
    background: #f9f9f9;
}

.mobile__lista {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 1rem;
}

.mobile__item {
    list-style: none;
    padding: .3rem;
}

.mobile__link{
    color: var(--cinza);
    text-decoration: none;
}

.mobile__link.ativo {
    color: var(--preto-claro);
    font-weight: bold;
}

.mobile__link:hover {
    text-decoration: underline;
}

.active {
    display: block;
}

@media screen and (min-width:0) {
    .menu__mobile {
        display:none;
    }
    .active {
        display: block;
    }
}

@media screen and (min-width:768px) {
    .menu__mobile {
        display:none;
    }
    
}
